name: 'IssueOps - Request Release to adhoc sandboxes'
run-name: 'Release-${{ github.event.issue.number }}-requested by-${{ github.event.issue.user.login }}'
on:
  issues:
    types: [ opened, reopened ]

#Set the environment variables for tracking metrics
env:
  SFPOWERSCRIPTS_DATADOG: 'true'
  SFPOWERSCRIPTS_DATADOG_HOST: '${{ secrets.DATADOG_HOST }}'
  SFPOWERSCRIPTS_DATADOG_API_KEY: '${{ secrets.DATADOG_API_KEY }}'


jobs:
  issue-analyzer:
    if: contains(github.event.issue.title, 'Ops - Request a release into an org')
    runs-on: ubuntu-latest
    outputs:
      domain: ${{ steps.issue-parser.outputs.issueparser_domain }}
      releasedefn: ${{ steps.issue-parser.outputs.issueparser_releasedefn}}
      orgname: ${{ steps.issue-parser.outputs.issueparser_orgname}}
      envprofile: ${{ steps.issue-parser.outputs.issueparser_envprofile}}
      forceInstall: ${{ steps.issue-parser.outputs.issueparser_forceInstall }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
         app-id: ${{ vars.SFOPSBOT_APP_ID }}
         private-key: ${{ secrets.SFOPSBOT_APP_PRIVATE_KEY }}

        
      - uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/request-a-release.yml       

      - uses: actions/github-script@v6
        if: always()
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: [ "ops", "ops-release-request"]
            })

      - name: Create Comment before initiating action
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{github.event.issue.number}}
          token: ${{ steps.app-token.outputs.token }}
          body: |
            Hello @${{ github.event.issue.user.login }} :wave:
            
            Thanks for requesting a release to environment(s) ${{ steps.issue-parser.outputs.issueparser_orgname }} 
            We will start the process of releasing the artifacts contained in the release definition  ${{ steps.issue-parser.outputs.issueparser_releasedefn }} 
            You will be notified when the release is complete
            Please check the logs at https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
  
  execute_action:
    needs: issue-analyzer
    uses:  flxbl-io/sfops-gh-actions/.github/workflows/release-to-an-env.yml@main
    with:
        org-name:  ${{ needs.issue-analyzer.outputs.orgname }}
        domain:  ${{ needs.issue-analyzer.outputs.domain }}
        releaseDefn:  ${{ needs.issue-analyzer.outputs.releaseDefn }}
        environment-profile: ${{ needs.issue-analyzer.outputs.envprofile }}
        branchname: releasedefns
        additional-plugins: 'skuid-sfdx'
        overrideSkipIfAlreadyInstalled: ${{ needs.issue-analyzer.outputs.forceInstall}}
        issue-number: ${{github.event.issue.number}}
        issue-author: ${{github.event.issue.user.login}}
        issue-notifier: ${{github.event.issue.user.login}}
        sfopsbot-app-id: ${{ vars.SFOPSBOT_APP_ID }}
    secrets:
        DEVHUB_SFDX_AUTH_URL: ${{ secrets.DEVHUB_SFDX_AUTH_URL }}
        sfopsbot-private-key: ${{ secrets.SFOPSBOT_APP_PRIVATE_KEY }}
      
  close_issue:
     runs-on: ubuntu-latest
     needs: execute_action
     steps:

      # gh needs a repo bummer
      - uses: actions/checkout@v3

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
         app-id: ${{ vars.SFOPSBOT_APP_ID }}
         private-key: ${{ secrets.SFOPSBOT_APP_PRIVATE_KEY }}


      - name: Close Issue
        run: |
           gh issue close ${{github.event.issue.number}} -c " Hello @${{ github.event.issue.user.login }} :wave: \n Your request has been sucessfully processed" -r "Completed"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}


  comment_issue_on_error:
      runs-on: ubuntu-latest
      needs:   execute_action
      if: always() && needs.execute_action.result == 'failure'
      steps:


        - uses: actions/create-github-app-token@v1
          id: app-token
          with:
           app-id: ${{ vars.SFOPSBOT_APP_ID }}
           private-key: ${{ secrets.SFOPSBOT_APP_PRIVATE_KEY }}

        - name: Create Comment after failure
          uses: peter-evans/create-or-update-comment@v3
          with:
            issue-number: ${{github.event.issue.number}}
            token: ${{ steps.app-token.outputs.token }}
            body: |
              Hello @${{ github.event.issue.user.login }} :wave:
              
              Apologies, it seems we ran into an issue, This would need your manual attention please check the job run
              at the link https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}

          
